<section class="contacts">
   <h2 class="title">Contacts</h2>
   <ul>
      <li>
         <a class="mail" href="mailto:edpovierin@gmail.com">Email</a>
      </li>
      <li>
         <a class="telegram" href="https://t.me/nightwanderer2004">Telegram</a>
      </li>
      <li>
         <a class="github" href="https://github.com/NightWanderer2004">GitHub</a>
      </li>
   </ul>
</section>