<section class="skills">
   <h2 class="title">
      <p>S<span>k</span>ills</p>
   </h2>
   <ul class="mainList">
      {% for skillsList in me.skills %}
         <li>
            <h3>{{ skillsList.title }}</h3>
            <ul class="skillsList">
               {% for skill in skillsList.list %}
                  <li>{{ skill }}</li>
               {% endfor %}
            </ul>
         </li>
      {% endfor %}
   </ul>
</section>
