<div class="welcome">
   <h1 class="name">
      <span>Eduard</span> Povierin
      <p class="job">
         <span>web</span> developer
      </p>
   </h1>
   <img class="arrow" src="/assets/icons/arrowDown.svg" alt="v">
</div>